<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>

        <input type="text"
          class="form-control"
          placeholder="Filtrar por Tema ou Local"
          [(ngModel)]="listFilter"
        >
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block" >Novo</b>
      </a>

    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button class="btn btn-outline-light btn-sm" (click)="changeImgState()">
            <i class="{{!showImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{!showImg ? 'mostrar' : 'ocultar'}}

          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Lotação</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="events && events.length">
      <tr *ngFor="let event of filteredEvents">
        <td>
          <img [collapse]="!showImg" src="/assets/{{event.urlImage}}"
            [isAnimated]="true"
            [style.width.px]="150"
            [style.margin.px]="2"
          >
        </td>
        <td>{{event.id}}</td>
        <td>{{event.theme}}</td>
        <td class="d-none d-md-table-cell">{{event.local}}</td>
        <td>{{event.dateEvent | DateFormat}}</td>
        <td class="d-none d-md-table-cell">{{event.numPeople}}</td>
        <td class="d-none d-md-table-cell"> {{event.batches[0].name | uppercase}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
             Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!events.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum Evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Quer mesmo excluir o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
