<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mp-2">
    <label class="mr-2">Filtro: </label>
    <input type="text"
      class="for control mr-2"
      placeholder="buscar"
      [(ngModel)]="listFilter"
    >
  </div>
</div>



<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="changeImgState()">
          <i class="{{!showImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!showImg ? 'mostrar' : 'ocultar'}}

        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Lotação</th>
      <th>Opções</th>
      <th>Lote</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents">
      <td>
        <img [collapse]="!showImg" src="/assets/{{event.urlImage}}"
          [isAnimated]="true"
          [style.width.px]="150"
          [style.margin.px]="2"
        >
      </td>
      <td>{{event.id}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.local}}</td>
      <td>{{event.dateEvent | DateFormat}}</td>
      <td>{{event.numPeople}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
          Editar
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir">
          <i class="fa fa-trash"></i>
           Excluir
        </button>
      </td>
      <td>{{event.batches[0].name | uppercase}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
